

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 24px auto;
    max-width: 1140px;
    list-style: none;
    column-gap:24px;
    row-gap: 24px;
}

.gallery-image{
   height: 100%;
}